<h1 class="ui center aligned header padding-top">Login</h1>
<div class="ui text container">
    <%= render "sessions/login" || 'Login Page Error' %>
  <div class="ui segment center aligned">
    Don't have an account?
    <a href="/signup">Sign Up Here!</a>
  </div>
</div>
