<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<header id="top" class="header">
    <div class="text-vertical-center oranged">
        <h1>TeamUp</h1>
	<div style="margin: 0 auto; width:50%">
          <%= render "sessions/login" || 'Login Page Error' %>
        </div>
    </div>
</header>
