<div class="ui section divider"></div>
<div class="ui container">
  <h2 class="ui header">Counter-Strike: Global Offensive</h2>
  <div class="ui container">
    <div class="ui two column grid">
      <div class="three wide column middle aligned centered">
        <img class="ui small left floated image" src="http://vignette3.wikia.nocookie.net/ikonen-jonas-csgo/images/a/a1/Csgo-logo.png/revision/latest?cb=20151118200545">
      </div>
      <div class="thirteen wide column">
        <p><strong>Team:</strong>  LSM_gaming</p>
        <strong>Game Description:</strong>
        <p>CSGO is a competitve first-person shooter mutliplayer game that features two teams of five players competing to defeated each other on a bounded map. The Terrorist team seeks to either eliminate the Counter-Terroritst team or successfully plant and detonate a timed bomb at one of two sites. The Counter-Terrorist team is looking to eliminate the entire Terrorist team or to defuse an active bomb to win the round.</p>
      </div>
    </div>
  </div>
  <h3 class="ui header">Proficiencies</h3>
  <table class="ui fixed striped table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Endorsements</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Desert Eagle</td>
        <td>The Desert Eagle can be described as CSGO's best and worst weapon. The best quality of the Deagle is the fact it will deliver a fatal headshot at any distance which is a huge bonus for any handgun. The drawback however is the tremendous inaccuracy of the weapon for multiple bullet fire.</td>
        <td>SerbianBear, Rufus123</td>
      </tr>
      <tr>
        <td>AK-47</td>
        <td>The AK-47 is the flagship weapon of the terrorist team. A very powerful weapon at short and long range with a deadly headshot potential at any distance. Learning to tame the powerful recoil on the AK if a formidable task, but essential to becoming a good CSGO player.
        </td>
        <td>Lifer49</td>
      </tr>
    </tbody>
  </table>
</div>







<div class="ui section divider"></div>
<div class="ui container">
  <h2 class="ui header">League of Legends</h2>
  <div class="ui two column grid">
    <div class="three wide column">
      <img class="ui small left floated image" src="http://www.capsulecomputers.com.au/wp-content/uploads/2011/11/League-of-Legends-Clear-Background-Logo-01.png">      
    </div>
    <div class="thirteen wide column">
      <p><strong>Team:</strong>  None</p>
      <strong>Game Description:</strong>
      <p>League of Legends is one of the most popular MOBA games of today. Originally inspired by DOTA, which was a Warcraft 3 mod, League features teams of five characters competing on a diamond shaped map to destroy each other's main bases. Players control unique characters that have special ability sets. Teams have to work together to control the map, economy and enemy team and eventually build up enough wealth and strength to overwhelm the enemy team.</p>      
    </div>


  </div>
  <h3 class="ui header">Proficiencies</h3>
  <table class="ui fixed striped table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Endorsements</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jungle</td>
        <td>The Jungle player is integral to the typical League line-up. The Jungle player is responsible for taking their character to farm the jungle, a huge source of economy for the team. The Jungle player needs to maintain diligent map awareness so that they can occasionally leave the jungle and provide support to either of the adjacent lanes.</td>
        <td>SerbianBear, Rufus123</td>
      </tr>
      <tr>
        <td>Mid</td>
        <td>The Mid player is the core of any League team. The Mid player fights the opposing team's mid player in the middle lane. The Mid player is integral in team communication. They have to inform their teammates if the opposing mid player has left the lane to go and attack their teammates in an adjacent lane. Conversely the Mid player will want to also occasionally leave the lane to go and support their teammates' adjacent lanes.</td>
        <td>IanSanPei</td>
      </tr>
    </tbody>
  </table>
</div>