<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>TeamUp</h1>
        <h3>Track Player's Gaming Skills</h3>
        <br>
        <a href="#" class="btn btn-primary btn-lg">Find Out More</a>
    </div>
</header>