<header id="top" class="header">
    <div class="text-vertical-center oranged">
        <h1>TeamUp</h1>
        <h3>Know the game.</br></br>Know your team.</br></br></br></br>Know your enemy.</h3>
        <br>
        <a href="#" class="btn btn-primary btn-lg">Find Out More</a>
    </div>
</header>
