.admin-page {
  padding-bottom: 30px;
}

.aligned-text {
  padding-left: 10px;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 125%;
}

.centered {
  text-align: center;
}
