.right-align {
	text-align: right;
}

.ui.container.profile-header {
  padding-top: 70px;
  padding-bottom: 10px;
}

.profile-page {
}

#add_game_to_user {
  color:#4183c4;
}

#add_game_to_user:hover {
  cursor: pointer;
  color:black;
}
