.right-align {
	text-align: right;
}

.ui.container.profile-header {
  padding-top: 80px;
  padding-bottom: 10px;
}

.profile-page {
}

#add_game_to_user {
  color:#4183c4;
}

#add_game_to_user:hover {
  cursor: pointer;
  color:black;
}

.username_link {
  font-size: 16px
}

.hidden {
	display: none;
}

.ui.red.button.hidden {
	display: none;
}
